body {
  font-family: "Comfortaa", serif;
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: #a8a8a8;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
}

a:hover {
  color: #eeeeee;
}

.container-fluid {
  align-items: center;
}


/* NAVIGATION / HEADER */

.sticky-top {
  position: fixed;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
  width: 100vW;
}

.navbar {
  margin-bottom: 0;
  border: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.50);
}

.navbar .navbar-toggler {
  border: 0;
  margin-right: 3vW;
}

.navbar-brand {
  font-family: "Playwrite NG Modern", serif;
  font-weight: bold;
}

.navbar .navbar-nav a {
  font-weight: bold;
  margin-right: 3vW;
}

.navarrow {
  z-index: 1;
  position: absolute;
  top: 93%;
  scroll-behavior: smooth;
}

.navarrow img {
  height: 40px;
}

#navlogo {
  height: 50px;
  padding-left: 25px;
}

/* FOOTER */

footer {
  text-align: center;
  color: white;
}

#footer-details {
  max-height: 15vH;
  min-height: 15vH;
}

.social-links {
  padding: 2.5%;
  font-size: 1.5em;
}

#footertext {
  text-align: left;
  font-size: .75em;
  padding-right: 0;
}

#footerlogo {
  height: 14vH;
  padding-left: 0;
}

.btn-bordered {
  width: 95vW;
  padding: 5px;
  border: 2px solid #fcc308;
  border-radius: 5px;
  background-color: black;
}

@media only screen and (min-width: 1200px) {

  .btn-bordered {
    width: 20vW;
  }

  #footer-details {
    overflow: hidden;
  }

  #footertext {
    text-align: right;
    padding-top: 2vH;
  }

  #footerlogo {
    height: 35vH;
    opacity: 20%;
    transform: translate(0, -20%);
  }
}

/* ----------------------------------------------------------PLACEHOLDER---------------------------------------------------------- */

.placeholder-container {
  height: 85vH;
  background: url(../img/bg-whisky.png) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* ----------------------------------------------------------INDEX---------------------------------------------------------- */

/* HERO */

.i-hero-container {
  height: 100vH;
  background: url(../img/landingbg.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
  z-index: 0;
}

/* JUMBOTRON */

.jumbotron {
  background-color: transparent;
  z-index: 2;
}

.jumbotron img {
  height: 35vH;
}

.jumbotron-header {
  font-family: "Playwrite NG Modern", serif;
  color: #fcc308;
  font-weight: bold;
  margin-bottom: 30px;
}

.jumbotron .lead {
  margin: 25px 0;
  color: #c2c2c2;
}

.jumbotron small {
  font-size: 100%;
  font-style: italic;
  color: #a3a3a3;
}

/* INDEX MENU */

.i-menu-container {
  height: 100vH;
  color: white;
  background: url(../img/bg-whisky.png) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.i-menudivs {
  background-color: rgba(0, 0, 0, 0.70);
  border-radius: 5px;
  align-items: center;
}

.i-menudivs table {
  font-size: .8em;
}

.i-menudivs img {
  height: 15vW;
  border-radius: 50%;
  border: solid 2px #ffc107;
  margin-bottom: 20px;
}

.i-menudivs table {
  background-color: rgba(0, 0, 0, 0.50);
}


@media only screen and (min-width: 1200px) {

  .i-menudivs img {
    height: 10vW;
    border-radius: 50%;
    border: solid 2px #ffc107;
  }

}

/* INDEX GALLERY */

.i-gallery-container {
  height: 100vH;
  background: url(../img/bg-whisky.png) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* INDEX REVIEWS */

.i-reviews-container {
  height: 85vH;
  background: url(../img/bg-whisky.png) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}