body {
  font-family: "Comfortaa", serif;
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: #a8a8a8;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
  transition: transform 1s;
}

a:hover {
  color: #fff;
  transform: scale(1.2);
}

.container-fluid {
  align-items: center;
}

.boxdivider {
  width: 45%;
  margin-top: 2px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.pagedivider {
  width: 45%;
  margin: 5vH 0;
  border: solid 1px #ffffff;
  opacity: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}


/* NAVIGATION / HEADER */

.sticky-top {
  position: fixed;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
  width: 100vW;
}

.navbar {
  margin-bottom: 0;
  border: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.50);
}

.navbar .navbar-toggler {
  border: 0;
  margin-right: 3vW;
}

.navbar-brand {
  font-family: "Playwrite NG Modern", serif;
  font-weight: bold;
}

.navbar .navbar-nav a {
  font-weight: bold;
  margin-right: 3vW;
  transition: transform 1s;
}

.navarrow {
  z-index: 1;
  position: absolute;
  top: 93%;
  scroll-behavior: smooth;
}

.navarrow img {
  height: 40px;
}

#navlogo {
  height: 50px;
  padding-left: 25px;
}

/* FOOTER */

footer {
  text-align: center;
  color: white;
}

#footer-details {
  max-height: 15vH;
  min-height: 15vH;
}

.social-links {
  padding: 2.5%;
  font-size: 1.5em;
  transition: transform 1s;
}

.social-links:hover {
  transform: scale(1.3);
}

#footertext {
  text-align: left;
  font-size: .75em;
  padding-right: 0;
}

#footerlogo {
  height: 14vH;
  padding-left: 0;
}

.btn-solid {
  font-weight: bolder;
  width: 95vW;
  padding: 5px;
  color: rgb(97, 53, 18);
  border: solid 2px #ce9313;
  border-radius: 10px;
  background: linear-gradient(to bottom, #ffcc00 0%, #ff6600 100%);
}

a.btn-solid {
  transition: transform .2s;
}

a.btn-solid:hover {
  transform: scale(1.1);
}

.btn-outline {
  padding: 5px 50px;
  border: solid 1px #fff;
  background-color: #000;
  border-radius: 10px;
  margin: 0 0 1rem 1rem;
  transition: transform .2s;
}

.btn-outline:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 1200px) {

  .btn-solid {
    width: 18vW;
  }

  #footer-details {
    overflow: hidden;
  }

  #footertext {
    text-align: right;
    padding-top: 2vH;
  }

  #footerlogo {
    height: 35vH;
    opacity: 20%;
    transform: translate(0, -20%);
  }
}

/* ----------------------------------------------------------INDEX---------------------------------------------------------- */

/* CONTAINERS */

.index-container {
  height: 100vH;
  color: white;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.i-contentbox {
  background-color: rgba(0, 0, 0, 0.70);
  border-radius: 5px;
  border: solid 1px;
  padding: 2vH 2vW 2vH 2vW;
  align-items: center;
  max-height: 80vH;
  max-width: 90vW;
  overflow: hidden;
}

/* HERO */

.herobg {
  background: url(../img/bg/landing.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
  z-index: 0;
}

/* JUMBOTRON */

.jumbotron {
  background-color: transparent;
  z-index: 2;
}

.jumbotron img {
  height: 35vH;
}

.jumbotron-header {
  font-family: "Playwrite NG Modern", serif;
  color: #ffcc00;
  font-weight: bold;
  margin-bottom: 30px;
}

.jumbotron .lead {
  margin: 25px 0;
  color: #c2c2c2;
}

.jumbotron small {
  font-size: 100%;
  font-style: italic;
  color: #a3a3a3;
}

/* MENU */

.indexbg {
  background: url(../img/bg/whisky.png) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.i-contentbox table {
  font-size: .8em;
}

.i-contentbox table {
  background-color: rgba(0, 0, 0, 0.50);
}

.menulinks {
  height: 15vW;
  border-radius: 50%;
  margin-bottom: 20px;
  padding: 4px;
  background: linear-gradient(to bottom, #ffcc00 0%, #ff6600 100%);
}

a h4 {
  transition: transform 1s;
}

a h4:hover {
  transform: scale(1.07);
}

/* GALLERY */

.gallerymsg {
  font-size: .8em;
  text-align: end;
}

.gallerycontent {
  height: 80%;
}

.fill {
  height: 100%;
}

.carouselimg {
  height: 50%;
  padding: 5px;
  align-self: center;
}

.carouselimg-tall {
  height: 100%;
  padding: 5px;
  align-self: center;
}

.gal-row-toggle {
  height: 70%;
}

.galleryimg {
  float: left;
  padding: 5px;
  transition: transform 1s;
}

.galleryimg:hover {
  transform: scale(1.05);
}

.modal-body {
  align-content: center;
  height: auto;
  width: auto;
}

#expandphoto {
  width: 100%;
}

/* REVIEWS */

#i-reviews {
  height: 85vH;
}

#ratings {
  height: 60vH;
  align-content: space-evenly;
}

#reviews {
  align-content: center;
}

.site-icon {
  border: solid 1px #fff;
  font-size: 80%;
  border-radius: 5px;
  padding: .5rem;
  margin: .25rem;
}

.site-icon:hover {
  background-color: rgba(255, 255, 255, 0.15);
  /* border-color: rgba(0, 0, 0, 0); */
}

.site-icon img {
  width: 40px;
}

.quote {
  width: 100%;
  min-height: 165px;
  height: fit-content;
  line-height: 1;
  padding: 5px 0 5px 0;
  margin: 5px 0 5px 0;
}

.quote p {
  text-align: center;
  align-self: center;
  justify-self: center;
  margin-top: .5rem;
  margin-bottom: 0;
}

.quote>p {
  font-size: 80%;
}

.quote img {
  width: 10vH;
  border-radius: 10px;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 1400px) {
  .gal-row-toggle {
    height: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .menulinks {
    height: 10vW;
  }

  .carouselimg {
    height: 10vW;
    width: 15vW;
  }
}

/* ----------------------------------------------------------ABOUT---------------------------------------------------------- */

.about-container {
  height: 85vH;
  background: url(../img/bg/whisky.png) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* ----------------------------------------------------------MENU---------------------------------------------------------- */

.menu-container {
  min-height: 85vH;
  height: fit-content;
  background: url(../img/bg/striped.png) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container-inner {
  position: absolute;
  top: 13vh;
}

.menu-categories > div {
  max-height: 20vW;
  max-width: 20vW;
  border: solid 3px #000;
  border-radius: 50%;
  margin: 1.2vW;
  padding: 2px;
  background: linear-gradient(to bottom, #ffcc00 0%, #ff6600 100%);
  position: relative;
}


.menu-categories p {
  font-size: small;
  color: #000;
  margin: 0;
  padding: 0 15px;
  background: linear-gradient(to bottom, #ffcc00 0%, #ff6600 100%);
  border-radius: 15px;
  border: solid 3px #000;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%);
}


.menu-categories img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
  padding: 4px;
  background-color: #000;
}

.menu-categories > div:hover {
  opacity: 100%;
}

ul {
  padding: 0;
  margin: 0 0 1vH 0;
}

ul li {
  list-style: none;
}

/* dynamically applied rules via js */

#menu-content > div {
  display: none;
}

#menu-content > div.visible {
  display: block;
}

.menu-close {
  position: absolute;
  right: 3%;
  font-size: 28px;
}

/* ------------------------------------ */

@media only screen and (min-width: 575px) {
  .menu-categories > div {
    max-height: 16vW;
    max-width: 16vW;
  }

  .menu-categories p {
    font-size: medium;
  }
}

@media only screen and (min-width: 768px) {
  .menu-categories > div {
    max-height: 12vW;
    max-width: 12vW;
  }
}

@media only screen and (min-width: 992px) {
  .menu-categories > div {
    height: 13vW;
    width: 13vW;
  }
}

@media only screen and (min-width: 1200px) {
  .menu-categories > div {
    height: 10vW;
    width: 10vW;
    opacity: 70%;
  }
}

/* ----------------------------------------------------------BOOKINGS---------------------------------------------------------- */

.bookings-container {
  height: 85vH;
  background: url(../img/bg/striped.png) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

label, small {
  display:block;
}

input, select, textarea {
  color: #fff;
  max-width: 100%;
  min-width: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  border: solid 1px #ffcc00;
  border-radius: 5px;
}


/* ----------------------------------------------------------VACANCIES---------------------------------------------------------- */

.jobs-container {
  height: 85vH;
  background: url(../img/bg/whisky.png) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}